/** Estilos globales **/

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

hr {
  margin-left: 1rem;
  border: 1px solid #e7e7e7;
}

body {
  height: 100%;
}

footer {
  background-color: black;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 100%;
}

/** Fin De Estilos globales **/

/** Estilos para la página de inicio **/

.header {
  height: 100%;
  width: 100%;
  background-image: url("../img/header.jpg");
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-container {
  color: white;
  position: relative;
  z-index: 1;
  height: 100%;
}

.lever-1 {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  align-items: center;
  z-index: 9999;
  position: relative;
}

.site-name {
  font-size: 3rem;
}

.site-name span {
  font-weight: 300;
}

.top-nav {
  position: relative;
  z-index: 9999;
}

.top-nav a {
  margin-right: .8rem;
  z-index: 9999;
  position: relative;
}

.top-nav a:last-of-type {
  margin-right: 0;
}

.level-2 {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  align-items: center;
  height: 20%;
}

.level-2 h2 {
  font-size: 2.5rem;
}

.level-2 p {

  font-size: 1.2rem;
}

.tittle {
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 2rem;
}


.sidebar .tittle {
  margin-left: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main {
  grid-column: 1/3;
}

.item-container {
  padding: 2rem;

}

.content-container h3 {
  margin-top: .5rem;
  font-size: 1.5rem;
}

.content-container p {
  line-height: 1.5rem;
  color: rgba(1, 1, 1, 0.7);
  margin-left: 1rem;
}

.item-container a {
  background-color: black;
  padding: .7rem 1.7rem;
  font-size: 1.3rem;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
}

.sidebar {
  grid-column: 3/4;
}

.course-item {
  padding-right: 2rem;
}

.course-item p span {
  font-weight: 700;
}

.course-item a {
  background-color: #784d3c;
  display: block;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.footer-container-1 {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem .4rem;
  align-items: center;

}

.footer h1 {
  color: white;
  font-size: 2rem;
}


.copyright {
  color: white;
  text-align: center;
  padding-bottom: .4rem;
}

/** Fin de Estilos para la página de inicio **/

/** Estilos para la página de fomulario **/
